{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% block body %}
    <div class = " w3-padding-64 w3-container w3-center " style = "padding-right:20px">
    <h1>Events</h1>
    </div>
    <center>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=9fbob8grp3nuvl3b08ip1cd5bc%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Asia%2FCalcutta" style="border-width:5" width="1000" height="800" frameborder="2" scrolling="no"></iframe>
    </center>

    
{% endblock %}