{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% block style%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dimension</title>
    <link rel="shortcut icon" href="{%static 'img/dim.png' %}" />

    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <!-- <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> -->

    <!-- Custom styles for this template -->
    <!-- <link href="{% static 'assets/css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/agency.min.css' %}" rel="stylesheet"> -->
{%endblock%}

{% block body %}
<!-- Team -->
    <section>
    <div class = "container w3-padding-64 w3-container w3-center " style = "padding-right:20px">
      <div class="container">
        <h2>Our Amazing Team</h2> <br><br>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/hod.jpg' %}" alt=""> <br>
              <h4 style = "margin: 10px;">Prof. N. Selvaraju </h4>
              <h4 style = "margin: 10px;" class="text-muted">HoD, department of Maths, IITG</h4>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/ramesh_h.jpg' %}" alt="" style="width: 180px;"> <br>
              <h4 style = "margin: 10px;">Prof H. Ramesh</h4>
              <h4 style = "margin: 10px;" class="text-muted">Faculty Advisor</h4>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/kuldeep.jpg' %}" alt="" style="width: 230px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Kuldeep Sharma</h4>
              <h4 style = "margin: 10px;" class="text-muted">President</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/kuldeep.sharma.5682">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/kuldeep-sharma-069331155/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/rakshit.jpg' %}" alt="" style="width: 110px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Rakshit Tiwari</h4>
              <h4 style = "margin: 10px;" class="text-muted">Treasurer</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/rak1729">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/rakshit-tiwari-1090bb127/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>



        <br>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/jayant.jpg' %}" alt=""style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Jayant Patidar</h4>
              <h4 style = "margin: 10px;" class="text-muted">Technical Head</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/jayant8740">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/jayant-patidar-b67974157/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/abhinav.jpeg' %}" alt=""style="width: 180px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;"> Abhinav Anand</h4>
              <h4 style = "margin: 10px;" class="text-muted">Head of External Affairs</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/abhinav.alcheringa1">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/abhinav-anand-901879157/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/siddhant.jpg' %}" alt="" style="width: 200px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Siddhant Sinha</h4>
              <h4 style = "margin: 10px;" class="text-muted">Cultural Head</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/siddhant.sinha.568">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/siddhant-sinha-387aa5157/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/kedar.png' %}" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Kedarnath</h4>
              <h4 style = "margin: 10px;" class="text-muted">Creative Head</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/kena3035">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/kedar-nath-b96b88157/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">

          </div>

          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle img-raised" src="{% static 'images/aayush.jpg' %}" alt="" style="width: 150px; border-radius:10000px; "> <br>
              <h4 style = "margin: 10px;">Aayush Bansal</h4>
              <h4 style = "margin: 10px;" class="text-muted">Events Manager</h4>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/aayush.bansal.213">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/aayushbansal98/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">

          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}