{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% block style%}
<title>Matrix</title>
<!--
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
-->
{%endblock%}
{% block body %}
<div>
    <!-- CTA -->
      <section id="cta1" class="wrapper">
        <div class="inner">
          <h2>AlumBook</h2>
          <p>Share yourself.</p>
        </div>
      </section>
      <br> <br>
    <h1 style = "text-align: center">Feed</h2>
      <div align = "right">
      {% if user.is_authenticated %}

        {% if user.is_superuser %}
        <a href="{% url 'alumni:post_approval' %}" class = "btn-round" style="text-decoration: none; background-color: #008CBA;"><span style="color: black;"><i class="icon fa-bell-o"></i> &nbsp;View {{approvalpending}} approval(s) pending</span></a>
        {% endif %}
        <a href="{% url 'alumni:post_new' %}" class = "btn-round" style="text-decoration: none; background-color: #4CAF50;"><span style="color: black;"><i class="icon fa-plus"></i> &nbsp;Add Post</span></a>
        <a href="{% url 'alumni:post_draft_list' %}" class = "btn-round" style="text-decoration: none; background-color: #f44336;"><span style="color: black;"><i class="icon fa-edit"></i> &nbsp;View Drafts</span></a>
        <br><br><br>
     {% endif %}
    </div>

 </div>
 <div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
    </div>
 </div>
{% endblock %}

