{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% block style%}
<title>Matrix</title>
<!--
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
-->
{%endblock%}
{% block body %}
<br><br><br><br>
<div class="page-header">
     {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a class="top-menu" href="{% url 'alumni:post_approval' %}">{{approvalpending}} approval pending</a>
        {% endif %}
        <a href="{% url 'alumni:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'alumni:post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
     {% endif %}
     <h1><a href="/">Share Your Experiences</a></h1>
 </div>
 <div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
    </div>
 </div>
{% endblock %}

