<!DOCTYPE html>
<html>
{% load static %}
<title>Matrix</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee,.fa-calculator,.fa-line-chart,.fa-code{font-size:200px}
.alignment

</style>
<ul class="w3-navbar w3-black w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li class="w3-left"><a href="{% url 'home' %}" class="w3-padding-large w3-hover-white">MATRIX</a></li>
  <li class="w3-right w3-hide-small " ><a href="{% url 'about_us' %}" class="w3-padding-large w3-hover-white">About us</a></li>
  <li class="w3-right w3-hide-small"><a href="{% url 'team' %}" class="w3-padding-large w3-hover-white">Team</a></li>
    <li class="w3-right w3-hide-small"><a href="https://issuu.com/matrixiitg/docs/anantha" class="w3-padding-large w3-hover-white">Anantha</a></li>
  <li class="w3-right w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Upcoming Events</a></li>
  <li class="w3-right w3-hide-small"><a href="{% url 'login' %}" class="w3-padding-large w3-hover-white">Alumni</a></li>
  
</ul>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
  <ul class="w3-navbar w3-left-align w3-large w3-black">
  <li><a class="w3-padding-large" href="{% url 'home' %}">Home</a></li>
    <li><a class="w3-padding-large" href="{% url 'login' %}">Alumni</a></li>
    <li><a class="w3-padding-large" href="#">Upcoming Events</a></li>
      <li><a class="w3-padding-large" href="https://issuu.com/matrixiitg/docs/anantha">Anantha</a></li>
    <li><a class="w3-padding-large" href="{% url 'team' %}">Team</a></li>
    <li><a class="w3-padding-large" href="{% url 'about_us' %}">About us</a></li>
    
  </ul>
</div>




<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-light-grey ">
  <div class="w3-content">
    <div class = "w3-center">
      <h1 style="text-align:center;margin-left: auto;margin-right: auto" class="w3-jumbo w3-text-teal" >About</h1>
        <h5 style="text-align:center    ;margin-left: auto;margin-right: auto" class="w3-padding-32 w3-text-teal "><b>MATRIX</b> Student Body, Department of Mathematics, IIT Guwahati,
        was founded in 2008 with a vision to provide exposure for applying the mathematics and computing
            knowledge to solve the real life technical problems by organizing lectures, seminars, workshops and events.</h5>

      <h5 style="text-align:left;margin-left: 20%" class="w3-text-teal"></h5>
    </div>

  
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">

    <div>
      <h1 style="text-align:center;margin-left: auto;margin-right: auto" class="w3-text-blue">Dimension</h1>

      <h5 class="w3-text-blue" style="text-align:center;margin-left: auto;margin-right: auto">Dimension is the annual summit of MATRIX. Wherein we invite dignitaries to visit our campus and address the students, about their industrial experiences, their research projects etc. Previously Dimension has had lecture series by eminent scientists from various fields such as Cryptography, Fractals, Artificial Intelligence etc.</h5>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-light-grey">
  <div class="w3-content">
    <div>
      <h1 class = "w3-text-deep-purple" style="text-align:center;margin-left: auto;margin-right: auto" >Anantha</h1>
        <h5 class="w3-text-deep-purple" style="text-align:center;margin-left: auto;margin-right: auto">The Annual Magazine published by MATRIX </h5>
      <h5 class="w3-text-deep-purple" style="text-align:center;margin-left: auto;margin-right: auto">This magazine, which contains a wide range of interesting articles contributed by different people, related to Latest Mathematical Research, Internships' Experiences, and many more interesting articles revolving around student life at IITG, is a great medium to share ideas, innovations and experiences.</h5>
    </div>

    
  </div>
</div>





<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
var slideIndex = 0;

</script>

</body>
</html>
