{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block title_block %}{{PROJECT_NAME}} - Register{% endblock %}


{% block body_block %}
<p style="color:red">{{register_error}}</p>
    <div class = "container offset-4 text-center">
    <div class="row">
    <div class="card col-auto">
    <div class="card-header text-center">{% block h1_block %}Create an Account{% endblock %}</div>
    <div class="card-body text-center">
<form method="POST" action="." enctype="multipart/form-data">
	{% csrf_token %}
	Enter Username:
	<input type="text" name="username" value="{{username}}" required="required" style="width: inherit" />
	<br><br>
    Enter Email:
	<input type="email" name="email" required="required" style="width: inherit "/>
	<br><br>
    Enter First name:
	<input type="text" name="firstname" value="{{firstname}}" required="required" />
	<br><br>
    Enter Last name:
	<input type="text" name="lastname" value="{{lastname}}" required="required" />
	<br><br>
	Enter Password:
	<input type="password" name="password1" required="required" />
	<br><br>
	Re-enter Password:
	<input type="password" name="password2" required="required" />
	<br><br>
	{{form.as_p}}

	
	<button type="submit" >Sign Up</button>
</form>
    </div>
        <p><a href="{% url 'accounts:login' %}">Login here</a> if you already have an account</p></div></div></div>
<br><br><br>{% endblock %}
