<!DOCTYPE html>
<html>
{% load static %}
<title>Matrix</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee,.fa-calculator,.fa-line-chart,.fa-code{font-size:200px}
.alignment

</style>

<!-- Navbar -->
<ul class="w3-navbar w3-black w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li class="w3-left"><a href="{% url 'home' %}" class="w3-padding-large w3-hover-white">MATRIX</a></li>
  <li class="w3-right w3-hide-small " ><a href="{% url 'about_us' %}" class="w3-padding-large w3-hover-white">About us</a></li>
  <li class="w3-right w3-hide-small"><a href="{% url 'team' %}" class="w3-padding-large w3-hover-white">Team</a></li>

  <li class="w3-right w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Upcoming Events</a></li>
   <li class="w3-right w3-hide-small"><a href="https://issuu.com/matrixiitg/docs/anantha" class="w3-padding-large w3-hover-white">Anantha</a></li>
  <li class="w3-right w3-hide-small"><a href="{% url 'login' %}" class="w3-padding-large w3-hover-white">Alumni</a></li>
 <!-- <li class="w3-right w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Home</a></li>-->

</ul>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
  <ul class="w3-navbar w3-left-align w3-large w3-black">
  <li><a class="w3-padding-large" href="{%  url 'home' %}">Home</a></li>
    <li><a class="w3-padding-large" href="{% url 'login' %}">Alumni</a></li>
    <li><a class="w3-padding-large" href="#">Upcoming Events</a></li>
    <li><a class="w3-padding-large" href="https://issuu.com/matrixiitg/docs/anantha">Anantha</a></li>
    <li><a class="w3-padding-large" href="{% url 'team' %}">Team</a></li>
    <li><a class="w3-padding-large" href="{% url 'about_us' %}">About us</a></li>
    
  </ul>
</div>
<div class = " w3-padding-64 w3-container w3-center w3-light-grey" style = "padding-right:60px">
<h1 class = "w3-text-teal w3-jumbo"  >Team</h1>
</div>



<!-- First Grid -->
  <div class = "w3-row-padding w3-padding-64 w3-container w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style=" display: block; margin: auto;width: 40%;">
    <header class="w3-container w3-teal">
      <h3>Head of the Department</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>Prof. Swaroop Nandan Bora</p>
      <p>Email:<a href="mailto:hodmath@iitg.ernet.in" target="_top">hodmath@iitg.ernet.in</a></p>
      <p>Telehone: +91-361-2582601</p></div>
    </div>
    </div>
    <div class = "w3-padding-8" 
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>

<!-- Second Grid -->
<div class = "w3-row-padding w3-padding-64 w3-container w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style=" display: block; margin: auto;width: 40%;">
    <header class="w3-container w3-teal">
      <h3>Faculty Advisor</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div class="w3-row" >
      <img src="../../static/profile.png" alt="Avatar" class="w3-col m4 l3 w3-circle w3-left w3-margin-right" style="width:20%;margin:0 auto;display:block;">
      <div class="w3-col m8 l9">
      <p>H. Ramesh</p>
      <p>Email:<a href="mailto: ramesh_h@iitg.ernet.in" target="_top">ramesh_h@iitg.ernet.in</a></p>
      <p>Telehone: +91-361-2582601</p></div>
      </div>
    </div>
    </div>
    <div class = "w3-padding-8" 
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>



<!-- Third Grid -->
<div class = "w3-half w3-row-padding w3-padding-64 w3-container w3-left-align w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style="width:80%;">
    <header class="w3-container w3-teal">
      <h3>President</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>V.S. Seralathan</p>
      <p>Email:<a href="mailto: seralathan@iitg.ernet.in" target="_top">seralathan@iitg.ernet.in</a></p>
      <p>Telehone: +91-7896890750</p></div>
    </div>
    <div class = "w3-padding-8"
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>
  </div>
<!--Fourth Grid-->
<div class = "w3-half w3-row-padding w3-padding-64 w3-container w3-left-align w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style="width:80%;height:150%;">
    <header class="w3-container w3-teal">
      <h3>Treasurer</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>Pawan Vaishnav</p>
      <p>Email:<a href="mailto: vaishnav@iitg.ernet.in" target="_top">vaishnav@iitg.ernet.in</a></p>
      <p>Telehone: +91-9********</p></div>
    </div>
    <div class = "w3-padding-8" 
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>
  </div>
<!--Fifth Grid-->
<div class = "w3-half w3-row-padding w3-padding-64 w3-container w3-left-align w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style="width:80%;height:150%;">
    <header class="w3-container w3-teal">
      <h3>External Affairs Secretary</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>Hiten Sethiya</p>
      <p>Email:<a href="mailto: hiten@iitg.ernet.in" target="_top">hiten@iitg.ernet.in</a></p>
      <p>Telehone: +91-9954245059</p></div>
    </div>
    <div class = "w3-padding-8" 
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>
  </div>
<!--Sixth Grid-->
<div class = "w3-half w3-row-padding w3-padding-64 w3-container w3-left-align w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style="width:80%;height:150%;">
    <header class="w3-container w3-teal">
      <h3>Cultural Secretary</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>Chiranjiv Goyal</p>
      <p>Email:<a href="mailto: chiranjiv@iitg.ernet.in" target="_top">chiranjiv@iitg.ernet.in</a></p>
      <p>Telehone: +91-9********</p></div>
    </div>
    <div class = "w3-padding-8" 
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>
  </div>
<!--Seventh Grid-->
<div class = "w3-half w3-row-padding w3-padding-64 w3-container w3-left-align w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style="width:80%;height:150%;">
    <header class="w3-container w3-teal">
      <h3>Creative Head</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>Sangeet Chandaliya</p></div>
    </div>
    <div class = "w3-padding-8"
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>
  </div>
<!--Sixth Grid-->
<div class = "w3-half w3-row-padding w3-padding-64 w3-container w3-left-align w3-light-grey" style = "padding-left :100px;" >
 <div class="w3-card-8" style="width:80%;height:150%;">
    <header class="w3-container w3-teal">
      <h3>Technical Secretary</h3>
    </header>
    <div class="w3-container">
     <!--<p>1 new friend request</p>-->
      <div>
      <img src="../../static/profile.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:90px">
      <p>Harshmeet Singh</p></div>
    </div>
    <div class = "w3-padding-8"
    ></div>
   <!--<button class="w3-btn-block w3-dark-grey">+ Connect</button>-->
  </div>
  </div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
var slideIndex = 0;

</script>

</body>
</html>
